n8n_workflows/latest/iJzOZiXtaGwfzClt.json
{
  "createdAt": "2024-11-09T19:22:50.034Z",
  "updatedAt": "2024-11-11T11:32:33.000Z",
  "id": "iJzOZiXtaGwfzClt",
  "name": "Google Search",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  const data = item.json;\n  return {\n    json: {\n      search_info: data.search_information,\n      organic_results: data.organic_results,\n      pagination: data.serpapi_pagination\n    }\n  };\n});"
      },
      "id": "4503e891-0f2b-4ad8-9305-b8f9fb8d1a53",
      "type": "n8n-nodes-base.function",
      "position": [
        2680,
        40
      ],
      "name": "Process Results"
    },
    {
      "parameters": {},
      "id": "90b9bee4-66f6-4064-9ed4-dc8c674b2fef",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        2160,
        40
      ]
    },
    {
      "parameters": {},
      "id": "066aadcc-25bc-41b0-8e92-3fa4e4a2878f",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1880,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "37a9682a-1df8-4b4f-9fbb-8e6126f008e1",
              "name": "term",
              "value": "Empresa \"SuperPopi\"",
              "type": "string"
            },
            {
              "id": "cca53068-e49d-4d7c-bab0-bb982d77bea0",
              "name": "pages",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "04a75dc9-dfea-4320-8210-da3e4e95caef",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        320
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "pagination.other_pages",
        "options": {}
      },
      "id": "6e8d0431-6734-44cc-ae46-bd0d071958f8",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3180,
        280
      ]
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  const data = item.json;\n  return {\n    json: {\n      search_info: data.search_information,\n      organic_results: data.organic_results,\n    }\n  };\n});"
      },
      "id": "072e145a-5744-4aca-b10b-5451a79895e5",
      "type": "n8n-nodes-base.function",
      "position": [
        3740,
        280
      ],
      "name": "Process Results1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc74e8fd-de80-47f7-8bf9-dfaf3207bb07",
              "name": "organic_results",
              "value": "={{ $json.organic_results }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "deb0ed50-a288-4847-8fa6-0da453a9215d",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3920,
        280
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "organic_results",
        "include": "=\n",
        "options": {}
      },
      "id": "231ba82c-1730-4b12-a890-a0a534320cb8",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3160,
        -60
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "organic_results",
        "options": {}
      },
      "id": "0cc31d11-65e9-4d78-92be-716ae3b55265",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4100,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc74e8fd-de80-47f7-8bf9-dfaf3207bb07",
              "name": "organic_results",
              "value": "={{ $json.organic_results }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "675e08a9-0b95-4283-8fdb-fbc40a8f3094",
      "name": "Get Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2920,
        -60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b55d0b4b-2f00-4ff3-a307-8ad8425960b3",
              "name": "output",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "287a57bf-0d2d-4983-82d7-0ac470acec42",
      "name": "Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5040,
        -40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7103667f-6f6e-4854-9baa-f8003bf303e4",
              "name": "pagination",
              "value": "={{ $json.pagination }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "33454b75-defb-494b-a0a4-3153952b0781",
      "name": "Get Pagination",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2940,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{ $json['pagination.other_pages'] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "options": {}
      },
      "id": "68365198-7d9b-425d-b750-52e19fdb03ff",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3560,
        280
      ],
      "name": "Get Page",
      "credentials": {
        "serpApi": {
          "id": "aK4P7Zm23AJdETeM",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.term }}"
            }
          ]
        },
        "options": {}
      },
      "id": "83141caf-6340-435f-994d-42a2fd85aa0d",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2460,
        40
      ],
      "name": "SerpAPI Search - Page 1",
      "credentials": {
        "serpApi": {
          "id": "aK4P7Zm23AJdETeM",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Pagination Block\n\nEdit Limit Node to increase the number of pages. 0 - No Pagination",
        "height": 401.9651162790693,
        "width": 1676.2674418604693
      },
      "id": "7883902f-ed37-4e43-af84-e5b8a4f8de3f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2900,
        128.55813953488376
      ]
    },
    {
      "parameters": {
        "maxItems": 2
      },
      "id": "229fb18d-c7ef-4474-822d-b552f1ad1c36",
      "name": "Pagination Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        3380,
        280
      ]
    },
    {
      "parameters": {},
      "id": "effa2d0b-52fd-493a-b4d3-4e9f96a1ecc8",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4580,
        -40
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0ae61ae-c1a3-4e26-89ed-0946bbec8ec2",
              "name": "position",
              "value": "={{ $json.organic_results.position }}",
              "type": "number"
            },
            {
              "id": "9256a026-3aa2-46e8-a549-4134c8933987",
              "name": "title",
              "value": "={{ $json.organic_results.title }}",
              "type": "string"
            },
            {
              "id": "8e2203be-7e38-4e00-af8c-5f688950203b",
              "name": "link",
              "value": "={{ $json.organic_results.link }}",
              "type": "string"
            },
            {
              "id": "5645139b-c833-41dd-8cd1-8a33c81fba6c",
              "name": "redirect_link",
              "value": "={{ $json.organic_results.redirect_link }}",
              "type": "string"
            },
            {
              "id": "123f9225-8e4a-47cb-95d5-aca437be5921",
              "name": "displayed_link",
              "value": "={{ $json.organic_results.displayed_link }}",
              "type": "string"
            },
            {
              "id": "58b204f3-cfac-42b8-98f0-d00becf9c08c",
              "name": "favicon",
              "value": "={{ $json.organic_results.favicon }}",
              "type": "string"
            },
            {
              "id": "c51de78e-d791-4606-a12d-79a404b537b5",
              "name": "snippet",
              "value": "={{ $json.organic_results.snippet }}",
              "type": "string"
            },
            {
              "id": "698561eb-c35c-4cda-87db-8626bfa79a2f",
              "name": "snippet_highlighted_words",
              "value": "={{ $json.organic_results.snippet_highlighted_words }}",
              "type": "array"
            },
            {
              "id": "f3d28a52-3283-480a-b3da-1c271565caf2",
              "name": "source",
              "value": "={{ $json.organic_results.source }}",
              "type": "string"
            },
            {
              "id": "4f6f91db-3b6e-4e96-8f20-b3861a4d1029",
              "name": "date",
              "value": "={{ $json.organic_results.date }}",
              "type": "string"
            },
            {
              "id": "7d1042b4-6c9c-4e7e-852e-b8dfefcd8771",
              "name": "page",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d277be18-7745-43fe-b2de-69e42372fb57",
      "name": "Add page",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3380,
        -60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cd41177-df1f-4bab-93b4-a3273ee80af3",
              "name": "position",
              "value": "={{ $json.position }}",
              "type": "number"
            },
            {
              "id": "b77f8a41-5ec0-4db8-8669-0ce4012ee002",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "94b3cd9d-ea6e-40d8-9cb8-f074b75c1dfd",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "de51a2bc-626b-4dbe-963c-bb1ca1506d27",
              "name": "redirect_link",
              "value": "={{ $json.redirect_link }}",
              "type": "string"
            },
            {
              "id": "f6b0e5e9-951f-4395-bb8b-89fc94f29bdb",
              "name": "displayed_link",
              "value": "={{ $json.displayed_link }}",
              "type": "string"
            },
            {
              "id": "8fd916ed-82d0-4b11-8fea-980419cd2249",
              "name": "favicon",
              "value": "={{ $json.favicon }}",
              "type": "string"
            },
            {
              "id": "ed256933-c46b-493c-8607-4f797ec45989",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "a03962b2-04b0-4014-83d3-4a2a6515c2ac",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "7d7629b1-7d33-40ca-b884-7b96a107b96d",
              "name": "snippet_highlighted_words",
              "value": "={{ $json.snippet_highlighted_words }}",
              "type": "array"
            },
            {
              "id": "a632fdb5-0aa2-4331-9c24-8e47f1fde6e2",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "96d143e7-7080-4e12-b7d2-3ccae02c5ac5",
              "name": "thumbnail",
              "value": "={{ $json.thumbnail }}",
              "type": "string"
            },
            {
              "id": "9937b044-148b-47b9-8bfd-9801c55525da",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "string"
            },
            {
              "id": "7b2d7339-a2b4-49bf-8f03-191ef9b3ec4f",
              "name": "page",
              "value": "={{ $('Pagination Limit').item['pairedItem']['item'] + 2 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ebd3e758-21cf-4a4d-8fb3-39272b5401c8",
      "name": "Add Page Pagination",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4400,
        160
      ]
    }
  ],
  "connections": {
    "Process Results": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Pagination Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Results1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Add page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Results": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Add Page Pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pagination": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page": {
      "main": [
        [
          {
            "node": "Process Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI Search - Page 1": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pagination Limit": {
      "main": [
        [
          {
            "node": "Get Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Page Pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "SerpAPI Search - Page 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add page": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Page Pagination": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c8aae006-8f1a-49c8-96fa-5ba1e5e65ce0",
  "triggerCount": 0,
  "tags": []
}