n8n_workflows/latest/QcNgpKSw0nFwXEnK.json
{
  "createdAt": "2024-11-09T18:07:04.540Z",
  "updatedAt": "2024-11-11T11:46:05.000Z",
  "id": "QcNgpKSw0nFwXEnK",
  "name": "Google Scrapper",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "4e7c3249-d620-4a94-8744-4f49f733959d",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1080,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed7e9da6-730c-464a-a12c-c81c5a713213",
              "name": "term",
              "value": "Empresa \"ReviewPro\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "437ab00c-494b-474a-ac7c-2e4ee4b9976b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        340
      ]
    },
    {
      "parameters": {},
      "id": "5f4856f0-7059-4e13-ab15-ad4944266277",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1080,
        40
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iJzOZiXtaGwfzClt",
          "mode": "list",
          "cachedResultName": "Google Search"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "39378666-34e7-495d-949d-60bbe6223359",
      "name": "Google Search",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1400,
        40
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "Browser Rest Apis",
        "operation": "Scrape",
        "url": "={{ $json.output.link }}",
        "elements": {
          "items": [
            {
              "selector": "body",
              "timeout": 5000
            }
          ]
        },
        "waitForTimeout": 5000,
        "waitForSelector": {
          "items": {
            "selector": "body",
            "timeout": 1000
          }
        },
        "requestOptions": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "e5fd836b-3c0f-450e-9705-383f4a7bc216",
      "name": "Browserless",
      "type": "n8n-nodes-browserless.browserless",
      "typeVersion": 2,
      "position": [
        1660,
        40
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "credentials": {
        "browserlessApi": {
          "id": "9mIEXR9FRmqEku7t",
          "name": "Browserless Credentials account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a38246ef-4a9b-48a8-b3dc-2aef05e9e044",
              "name": "organic_results",
              "value": "={{ $('Google Search').item.json.output }}",
              "type": "object"
            },
            {
              "id": "750fbd8c-c5d3-4d6e-8a5b-9e99925aad99",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "093b901e-3c71-4853-9607-48338bd9a6d5",
      "name": "Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        40
      ]
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "main": [
        [
          {
            "node": "Browserless",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Google Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a88588e1-d154-4d5c-9537-10724f5fc9dc",
  "triggerCount": 0,
  "tags": []
}